.pad{
    padding-top: 20px;
}

.title{
    font-size: 30px;
    text-align: center;
    color:white;
}

.contai{
    align-content: center;
}

.Find{
    font-size: 20px;
    text-align: center;
    padding-top: 5px;
}